html{
    margin: 20px;

    color: rgb(61, 61, 61);
    background-color: rgb(255, 244, 244);
}

.Dtitle{
    padding: 20px;
    text-align: center;

    border-radius: 20px;

    background-color: rgb(255, 200, 200);
}

.DimgAndGenres{
    display: flex;
    padding: 20px;
}
.Dgenres{
    padding: 10px 20px;
    
    font-size: 20px;
}
.downloadCountT{
    font-size: 15px;
}
.downloadCountC{
    font-size: 18px;
}
.DgenresInfo{
    padding: 0 50px;
}

.Description{
    padding: 10px;
    height: 50px;
    
    border-radius: 20px;

    background-color: rgb(255, 200, 200);
}
