.Dtitle{
    padding: 20px;
    text-align: center;
}

.DimgAndGenres{
    display: flex;
    padding: 20px;
}
.Dgenres{
    padding: 10px 20px;
    
    font-size: 20px;
}
.downloadCountT{
    font-size: 15px;
}
.downloadCountC{
    font-size: 18px;
}
.DgenresInfo{
    padding: 0 50px;
}

.Description{
    padding: 10px;
    height: 50px;
}
